

<!DOCTYPE html>
<html>
<body ng-app="dashboard">
<div ng-controller="dashboardCtrl as ctrl"> 

	<div class="modal-header">
       	     <h3 class="modal-title" id="modal-title">Lémurien: {{$ctrl.lemur.idDB}}</h3>
       	 </div>
       	 <div class="modal-body" id="modal-body">
            <div my-dir ></div>
             
             
             <div id="dir" test-html="$ctrl">
<!--             <canvas id="line" class="ng-scope ng-isolate-scope chart chart-line" chart-data="[1,2,3]" chart-labels="[4,5,6]" >-->
             </div>
             
    </div>
            
        	<div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Annuler</button>
      
     </div>
</div>
    
</body>
</html>